body {
    background-color: #333;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTixbOP0kGaLT4i_kRs7Ge53b42a_EZE2tuw4pTizaECdpQNp0");
    font-family: monospace;
    color: white;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: #002e91;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
}

.button {
    margin: 5px;
    float: left;
    border-color: black;
    border-radius: 3px;
    font-size: 20px;
    background-color: #002e91;
}

form {
    clear: both;
}

#gifs {
    border-style: solid;
    color: #00000000;
    min-height: 400px;
}

.formbuttons {
    margin: 5px;
    float: left;
    border-color: black;
    border-style: groove;
    border-radius: 3px;
    font-size: 20px;
    background-color: #002e91;
    color: black;
}

#input {
    height: 25px;
}

#buttons {
    position: relative;
    height: auto;
    z-index: 9999;
}

.item {
    display: inline-block;
    margin: 5px;
    border-style: solid;
    border-color: #002e91;
    border-width: 1px;
}

p {
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 18px;
}

.padding {
    padding: 15px;
}

.background {
    background-color: #035a005d;
}