body {
    background-color: #96d4ec
}
.nav {
    background-color: white;
  }
  #map {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  button {
    border: none;
    cursor: pointer;
  }
  button:focus {
    outline:0;
  }
  @font-face {
    font-family: "journal";
    src: url("journal.ttf");
  }
  #swift-head {
    font-family: "journal";
    color: red;
    background-color: #f7f7f7;
    font-size: 70px;
    
}
#event-head {
    /* font-family: "journal"; */
    color: white;
    background-color: blue;
    font-size: 55px;
    
}
.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}
.eventful-medium {
  position: relative    !important;
  width: 100px          !important;
  font-size: 12px       !important;
  line-height: 13px     !important;
}

small {
    font-size: 1em;
  }