body {
    background-color: #222;
}

.blackandyellow {
    background-color: black;
    color: #a16e00;
}

.clock {
    font-size: 25px;
}

#colon {
    visibility: hidden
}

.cheese {
    border-style: solid;
    border-color: #a16e00;
    border-width: 1px;
    color: #a16e00;
}

form {
    padding: 10px;
}

.form-control {
    background-color: #17a2b8;
}

.btn {
    color: white;
    border-color: black;
}

.blacktext {
    color: black;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #17a2b8;
    color: black;
}

table,
th,
td {
    border: 1px solid #a16e00;
}

th {
    width: 500px;
    height: 40px;
    background-color: #a16e0050
}

td {
    width: 500px;
    height: 30px;
}
