<li>
	{{burger_name}}
		{{#if devoured}}
	<button class="change-devoured btn btn-outline-success" data-id="{{id}}" data-newDevoured="{{devoured}}">
		<i class="fas fa-cookie-bite"></i> Consume!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
</li>
