body {
    min-width: 400px;
}

.chamberimage {
    background-image: url("../images/TestChamber.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    margin-top: 40px;
}

#logo {
    background-image: url("../images/ApertureLogo.png");
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.title {
    font-size: 4rem;
    color: rgb(0, 153, 255);
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 2px 4px black;
}

hr {
    background-color: #fd6600;
    height: 1px;
    border: 0;
}

.triviaheader {
    font-size: 3rem;
    color: #444444;
    text-shadow: 1px 2px black;
}

.triviabox {
    background-color: #b6b6b68a;
    min-height: 400px;
    border-radius: 5px;
}

.timer {
    background-color: #fd6600;
}

.question {
    font-size: 3rem;
    color: #444444;
    text-shadow: 1px 2px black;
}

.answers {
    text-align: justify;
}

.btn {
    margin-bottom: 20px;
}

.button1,
.button2,
.button3,
.button4 {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-image: url("../images/button.png");
    background-size: contain;
    background-color: transparent;
    cursor: url("../images/tinycube.png") 15 15, pointer;
    border: none;
}

.button4 {
    margin-bottom: 20px;
}

h3 {
    display: inline-block;
    font-size: 2.5rem;
    text-shadow: 1px 1px black;
}